@font-face {
    font-family: 'PastorOfMuppets';
    src: url('../betutipus/pastor\ of\ muppets.ttf') format('truetype');
}


.card {
    margin: 3%;
    padding: 3%;
    background: linear-gradient(to top, #000000 0%, #353535 100%);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    display: block;
}

.resz{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

h5{
    font-family: 'PastorOfMuppets';
    font-size: xx-large;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.img-thumbnail{
    height: auto;
    margin: auto;
    margin-bottom: 3rem;
    width: 30rem;
    border: 3px solid yellow
}

table{
    height: fit-content;
    margin-bottom: 3rem;
}

td {
    padding: 0.5%;
    font-size: medium;
    padding-right: fixed;
}

th {
    font-size: x-large;
    padding: 1%;
}
.szamok {
    width: 100%;
    border-radius: 5px;
    font-size: larger;
}

.szamok:hover {
    background-color: rgba(196, 196, 196, 0.05);
}
tr td:hover{
    background-color: rgb(50, 50, 50);
    color: white;
}
td.tablefont a{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
td.tablefont a:hover{
    font-weight: bolder;
}
tr :hover a{
    color: white;
}