@font-face {
    font-family: 'PastorOfMuppets';
    src: url('../betutipus/pastor\ of\ muppets.ttf') format('truetype');
}


.card {
    margin: 3%;
    padding: 3%;
    background: linear-gradient(to top, #000000 0%, #353535 100%);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    display: block;
}

.resz{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

h5{
    font-family: 'PastorOfMuppets';
    font-size: xx-large;
}

.container\ galeria{
    display: flex;
    justify-content: space-evenly;
}



.img-thumbnail{
    height: 30rem;
    margin-bottom: 3rem;
    width: 50rem;
}
