:root{
    /*  NAVBAR  */
    --navbar-Link: rgb(210, 220, 198);
    --navbar-ReverseAtmenet: linear-gradient(to bottom, #414141 20%, #181818 80%);

    /*  ALAP WEB    */
    --base-HatterAtmenet: linear-gradient(to top, #000000 20%, #181818 80%);
    --base-SzovegSzin: rgb(185, 185, 185);
    --base-LinkKijeloloSzurke: rgb(98, 98, 98);

    /*  KÁRTYÁK */
    --cards-Hatter: linear-gradient(to top right, #000000 0%, #181818 100%);
    --cards-Sikerek: rgb(21, 21, 21);
    --cards-SikerH2: rgb(245, 245, 245);
    --cards-KijeloloFeny: rgb(74, 74, 74);


    /*  EGY SZÍN  */
    --szin-Feher: rgb(255, 255, 255);
    --szin-Fekete: rgb(0, 0, 0);
    --szin-Szurke: rgb(128, 128, 128);
    --szin-Sarga: rgb(255, 255, 0);

    /*  TABLAZAT    */
    --table-HoverHatter: rgba(196, 196, 196, 0.05);
    --table-HoverSor: rgb(50, 50, 50);
}

.lightmode{
    /*  NAVBAR  */
    --navbar-Link: rgb(60, 60, 60);
    --navbar-ReverseAtmenet: linear-gradient(to bottom, #d8d8d8 20%, #f2f2f2 80%);

    /*  ALAP WEB    */
    --base-HatterAtmenet: linear-gradient(to top, #ffffff 20%, #f2f2f2 80%);
    --base-SzovegSzin: rgb(45, 45, 45);
    --base-LinkKijeloloSzurke: rgb(200, 200, 200);

    /*  KÁRTYÁK */
    --cards-Hatter: linear-gradient(to top right, #ffffff 0%, #eeeeee 100%);
    --cards-Sikerek: rgb(245, 245, 245);
    --cards-SikerH2: rgb(30, 30, 30);
    --cards-KijeloloFeny: rgb(36, 36, 36);


    /*  EGY SZÍN  */
    --szin-Feher: rgb(0, 0, 0);
    --szin-Fekete: rgb(255, 255, 255);
    --szin-Szurke: rgb(128, 128, 128);
    --szin-Sarga: rgb(255, 255, 0);

    /*  TABLAZAT    */
    --table-HoverHatter: rgba(0, 0, 0, 0.04);
    --table-HoverSor: rgb(230, 230, 230);

    --navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,\<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>\<path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/>\</svg>");
}

/* Dark mode hover */
.navbar-toggler:hover {
  background-color: var(--szin-Feher); /* fehér háttér */
}
.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,\<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>\<path stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/>\</svg>");
}

/* Light mode alap */

body.lightmode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,\<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>\<path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/>\</svg>");
}

/* Light mode hover */

body.lightmode .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,\<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>\<path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/>\</svg>");
}

#kapcsolo{
    z-index: 5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--szin-Szurke);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#kapcsolo img:last-child{
    display: none;
}

.lightmode #kapcsolo img:first-child{
    display: none;
}

.lightmode #kapcsolo img:last-child{
    display: block;
}






@font-face {
    font-family: 'PastorOfMuppets';
    src: url('../betutipus/pastor\ of\ muppets.ttf') format('truetype');
}

nav {
    background: var(--navbar-ReverseAtmenet);
}

nav a img:last-child{
    display: none;
}

.lightmode nav a img:first-child{
    display: none;
}

.lightmode nav a img:last-child{
    display: block;
}

.nav-link {
    color: var(--navbar-Link);
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

#navszov {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

body {
    color: var(--base-SzovegSzin);
    background: var(--base-HatterAtmenet);

}

main {
    padding: 20px;
    width: 95%;
    min-width: 400px;
    max-width: 1400px;
    margin: auto;
    font-weight: bold;
}

.col {
    width: 20em;
    padding-right: 1em;
}

audio {
    width: 100%;
}

h1 {
    font-size: 5rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

p {
    font-size: large;
}

header {
    padding: 10px;
    width: 95%;
    min-width: 400px;
    max-width: 1400px;
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
}

#mlogo {
    height: 1.2em;
    width: auto;
}



.elso {
    float: right;
    height: auto;
    width: 18rem;
    padding-right: 1em;
}

.uccso {
    float: left;
    height: auto;
    width: 18rem;
    padding: 1em;
}

#cim {
    text-align: center;
}
#metlogo { 
    max-width: 100%;
    min-width: auto;
}



li {
    padding-bottom: 1em;
}

#w91 {
    float: right;
    height: auto;
    width: 43%;
    padding: 1em;
}

.nav-link\ active,
.nav-link {
    font-size: 2em;
}

a {
    text-decoration: none;
    font-weight: bolder;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: gray;
}
.nav-link:hover{
    color: gray;
}