@font-face {
    font-family: 'PastorOfMuppets';
    src: url('../betutipus/pastor\ of\ muppets.ttf') format('truetype');
}

nav {
    background: linear-gradient(to bottom, #414141 20%, #181818 80%);
}

.nav-link {
    color: rgb(210, 220, 198);
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

#navszov {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

body {
    color: rgb(185, 185, 185);
    background: linear-gradient(to top, #000000 20%, #181818 80%);

}



main {
    padding: 20px;
    width: 95%;
    min-width: 400px;
    max-width: 1400px;
    margin: auto;
    font-weight: bold;
}

.col {
    width: 20em;
    padding-right: 1em;
}

audio {
    width: 100%;
}

h1 {
    font-size: 5rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'PastorOfMuppets', sans-serif;
}

p {
    font-size: large;
}

header {
    padding: 10px;
    width: 95%;
    min-width: 400px;
    max-width: 1400px;
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
}

#mlogo {
    height: 1.2em;
    width: auto;
}



.elso {
    float: right;
    height: auto;
    width: 18rem;
    padding-right: 1em;
}

.uccso {
    float: left;
    height: auto;
    width: 18rem;
    padding: 1em;
}

#cim {
    text-align: center;
}
#metlogo { 
    max-width: 100%;
    min-width: auto;
}



li {
    padding-bottom: 1em;
}

#w91 {
    float: right;
    height: auto;
    width: 43%;
    padding: 1em;
}

.nav-link\ active,
.nav-link {
    font-size: 2em;
}

.borito {
    float: right;
    width: 240px;
    border: 1px solid black;
    margin-left: 1em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    font-weight: bolder;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: gray;
}
.nav-link:hover{
    color: gray;
}